/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'os-r';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'os-sb';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'mk-r';
  src: url("../fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mk-b';
  src: url("../fonts/Mukta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ms-b';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ms-sb';
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ms-r';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ms-m-i';
  src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'ms-sb-i';
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'p-r';
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hl';
  src: url("../fonts/Hullist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 28px;
  margin: 0 auto;
  background-color: #eaeff4;
  font-family: 'ms-r';
  font-size: 16px;
  letter-spacing: -0.02em; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3 {
  font-family: 'ms-b'; }

h1 {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.02em; }

h3 {
  font-size: 30px; }

.wrapper {
  max-width: 2000px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0); }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.modal-dialog--reset {
  top: 20%; }
  .modal-dialog--reset .modal-content {
    background-color: transparent;
    border: none; }

.modal-backdrop {
  opacity: 0.8 !important; }

@media (min-width: 576px) {
  .modal-dialog--reset {
    max-width: 1200px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.button {
  display: block;
  color: white;
  font-family: 'ms-b';
  width: 235px;
  padding: 18px;
  padding-left: 22px;
  padding-right: 60px;
  letter-spacing: -0.02em;
  position: relative;
  transition: 0.2s ease; }
  .button::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 20px;
    height: 10px;
    background-image: url(../img/raster/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat; }
  .button:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.7; }
  .button:active {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    transform: scale(0.95); }

.button--bordered {
  border: 2px solid white; }

.button--orange {
  background-color: #ff6500;
  border: 2px solid #ff6500; }
  .button--orange:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
    opacity: 1;
    border-color: white; }
  .button--orange:active {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    transform: scale(0.95); }

.header {
  background-image: url(../img/raster/header-background-home.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: white; }

.navbar {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 59px; }

.navbar-brand {
  margin-top: 20px;
  margin-left: 55px; }
  .navbar-brand img {
    width: 230px;
    height: auto; }

.navbar-nav {
  margin-right: -15px; }

.nav-item {
  transition: 0.2s ease; }
  .nav-item a {
    font-family: 'ms-sb';
    color: white;
    text-transform: lowercase;
    letter-spacing: -0.03em;
    padding-bottom: 38px;
    padding-top: 40px;
    margin-right: 38px; }
  .nav-item:nth-child(5) {
    margin-right: 10px; }
  .nav-item:hover {
    opacity: 0.7; }
  .nav-item:active {
    opacity: 0.5;
    transform: scale(0.95); }

.nav-item__book {
  background-color: #ff6500;
  padding-left: 55px;
  padding-right: 55px;
  transition: 0.2s ease; }
  .nav-item__book:hover {
    opacity: 1; }
    .nav-item__book:hover a {
      color: black;
      transition: inherit; }
  .nav-item__book:active {
    opacity: 1;
    transform: scale(0.95); }
  .nav-item__book a {
    margin-right: 0;
    text-transform: none;
    font-family: 'ms-b';
    font-size: 18px;
    transition: inherit; }

.nav-item--active {
  pointer-events: none; }
  .nav-item--active a {
    border-bottom: 2px solid #ff6500;
    padding-top: 35px;
    padding-bottom: 41px;
    position: relative;
    top: 5px; }

.header__text-block {
  margin-top: 120px; }
  .header__text-block-span {
    font-family: 'ms-b';
    font-size: 22px;
    line-height: 48px;
    display: block; }
  .header__text-block-header {
    margin-top: 5px;
    margin-bottom: 25px; }
  .header__text-block-button {
    margin-bottom: 220px; }
  .header__text-block-adress {
    font-family: 'ms-sb'; }
    .header__text-block-adress i {
      margin-right: 5px; }
  .header__text-block-header-subtext {
    font-family: 'ms-sb';
    font-weight: 500;
    font-size: 35px;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px; }

.header--home {
  padding-bottom: 275px; }

.header--offices {
  background-image: url(../img/raster/header-background-offices.jpg); }
  .header--offices .header__text-block {
    margin-top: 85px; }
  .header--offices .header__text-block-header {
    font-size: 45px;
    margin-top: -5px; }
  .header--offices .header__text-block-button {
    margin-bottom: 185px; }
  .header--offices .header__text-block-adress {
    margin-bottom: 90px; }
  .header--offices .header__text-block-header-subtext {
    min-height: 52px; }

@media (max-width: 1200px) {
  .nav-item a {
    margin-right: 15px; }
  .nav-item__book {
    padding-left: 40px;
    padding-right: 20px; }
  .navbar-brand {
    margin-left: 0; } }

@media (max-width: 991.8px) {
  .navbar-brand {
    margin-left: 0;
    width: 180px;
    padding-bottom: 15px; }
  .navbar-nav {
    margin-right: 0;
    padding-top: 40px; }
  .navbar-collapse {
    z-index: 10;
    background-color: #156e63;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 73px;
    left: 0px;
    width: calc(100%); }
  .nav-item {
    text-align: center; }
    .nav-item a {
      font-size: 30px;
      text-align: center;
      margin-right: 0;
      display: inline-block;
      padding-bottom: 5px;
      padding-top: 6px; }
  .nav-item__book {
    max-width: 400px;
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 210px; }
    .nav-item__book a {
      font-size: 18px; }
  .navbar-toggler {
    position: relative;
    width: 40px;
    height: 32px;
    margin-right: -5px;
    transition: 0.2s ease; }
    .navbar-toggler span {
      display: none; }
    .navbar-toggler::before {
      display: block;
      content: '';
      position: absolute;
      background-color: #fff;
      height: 3px;
      width: 60%;
      top: 13px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.2s ease; }
    .navbar-toggler::after {
      display: block;
      content: '';
      position: absolute;
      background-color: #fff;
      height: 3px;
      width: 60%;
      top: 13px;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
      transition: 0.2s ease; }
    .navbar-toggler:hover {
      opacity: 0.7; }
    .navbar-toggler:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .navbar-toggler[aria-expanded="false"]::before {
    display: block;
    content: '';
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 60%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 0px white, 0px 16px 0px white; }
  .navbar-toggler[aria-expanded="false"]::after {
    display: block;
    content: '';
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 60%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 0px white, 0px 16px 0px white; } }

@media (max-width: 767.8px) {
  .header__text-block {
    margin-top: 80px;
    padding-top: 10px;
    padding-left: 10px; }
    .header__text-block-span {
      font-size: 16px; }
    .header__text-block-header {
      font-size: 45px;
      margin-top: 0px;
      line-height: 50px; }
    .header__text-block-button {
      margin-bottom: 121px; }
  .header--home {
    padding-bottom: 220px; }
  .header--offices .header__text-block-button {
    margin-bottom: 80px; } }

.cards {
  background-color: #1e2329;
  color: white;
  background-image: url(../img/raster/section-background-pattrern.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  box-sizing: content-box;
  padding-bottom: 180px; }
  .cards__item-wrapper {
    position: relative;
    top: -175px;
    margin-bottom: -10px; }
  .cards__item {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    padding-top: 255px;
    background-size: cover;
    height: 100%; }
  .cards__header {
    font-family: 'ms-b';
    font-size: 22px; }
  .cards__text {
    font-family: 'ms-r';
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px; }
  .cards__item--white {
    color: black;
    background-color: #fff; }
  .cards__item--orange {
    background-color: #ff6500;
    color: white;
    background-image: url(../img/raster/cards-background-pattern.png);
    background-repeat: no-repeat;
    background-position: -15px 0; }
  .cards__item--green {
    background-color: #156e63;
    color: white;
    background-image: url(../img/raster/cards-background-pattern.png);
    background-repeat: no-repeat;
    background-position: -35px 0; }
  .cards__block-header {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: -0.02em; }
  .cards__block-text {
    font-family: 'ms-r';
    line-height: 30px;
    letter-spacing: -0.01em; }
  .cards__block-button {
    margin-top: 25px;
    width: 245px; }

@media (max-width: 991.8px) {
  .cards__item {
    padding: 30px;
    padding-top: 165px; }
  .cards__item--orange {
    background-position: 0 0; }
  .cards__item--green {
    background-position: 0 0; } }

@media (max-width: 767.8px) {
  .cards {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 65px; }
    .cards__item {
      margin-bottom: 20px;
      padding-bottom: 1px; }
    .cards__header {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 12px;
      display: block; }
    .cards__text {
      font-size: 16px; }
    .cards__item--green {
      padding-top: 140px; }
    .cards .col-md-4 {
      margin-bottom: 30px; }
    .cards__block-header {
      margin-top: -155px;
      font-size: 30px;
      line-height: 35px; }
      .cards__block-header br {
        display: none; }
    .cards__block-text {
      line-height: 25px; } }

.location {
  padding-top: 215px;
  padding-bottom: 200px; }
  .location__wrapper {
    position: relative; }
    .location__wrapper::after {
      display: block;
      content: '';
      position: absolute;
      height: 2px;
      width: 97%;
      left: 1.5%;
      background-color: #d7dfe9;
      bottom: -120px; }
  .location__header {
    margin-bottom: 20px;
    margin-top: 55px; }
  .location__text {
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: -0.01em; }
  .location__button {
    margin-top: -5px;
    width: 245px; }
    .location__button:hover {
      color: #fff;
      background-color: #ff6500;
      border-color: #ff6500;
      opacity: 0.7; }
    .location__button:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .location__map {
    position: relative;
    margin-bottom: 70px;
    min-height: 580px;
    background-image: url(../img/raster/map.png);
    background-position: center;
    background-repeat: no-repeat; }
    .location__map-plant {
      position: absolute;
      bottom: -90px;
      left: -130px; }

.location--offices {
  padding-top: 0px;
  padding-bottom: 140px; }

.location--about {
  padding-top: 50px;
  padding-bottom: 140px; }

@media (max-width: 767.8px) {
  .location {
    padding-top: 35px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px; }
    .location__wrapper::after {
      bottom: -100px; }
    .location__header {
      font-size: 25px;
      margin-top: 10px; }
    .location__text br {
      display: none; }
    .location__map {
      margin-top: 60px;
      background-size: 190%;
      min-height: 420px; }
    .location__map-plant {
      left: 50%;
      width: 75%;
      transform: translateX(-50%);
      bottom: -75px; } }

.office-features {
  padding-top: 70px;
  padding-bottom: 145px; }
  .office-features__wrapper {
    margin-top: 70px; }
  .office-features__item {
    border: 2px solid #cfdae5;
    min-height: 150px;
    margin-bottom: 32px;
    padding: 20px; }
    .office-features__item svg {
      transform: scale(0.9); }
  .office-features__img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px; }
  .office-features__text {
    font-family: 'ms-b';
    display: block;
    text-align: center;
    margin-top: 15px; }
  .office-features .col-4:nth-child(6) svg {
    transform: scale(1); }
  .office-features .col-4:nth-child(8) svg {
    transform: scale(1); }
  .office-features .col-4:nth-child(9) svg {
    transform: scale(0.8); }
  .office-features .col-4:nth-child(11) svg {
    transform: scale(0.8); }
  .office-features .col-4:nth-child(12) svg {
    transform: scale(0.8); }

@media (max-width: 991.8px) {
  .office-features__item {
    min-height: 170px; }
  .office-features--offices {
    padding-bottom: 60px; } }

@media (max-width: 575.8px) {
  .office-features {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px; }
    .office-features__title {
      font-size: 25px; }
    .office-features__wrapper {
      margin-top: 40px; }
    .office-features__item {
      min-height: 150px; }
    .office-features__text {
      width: 80%;
      margin: 0 auto; } }

.process {
  color: #1e2329;
  background-color: #e1e9f1;
  padding-top: 165px;
  padding-bottom: 150px; }
  .process__header {
    margin-bottom: 70px; }
  .process__item {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #a5acb2; }
    .process__item:nth-child(4) {
      border-bottom-color: transparent; }
  .process__item-text {
    display: flex;
    flex-direction: column;
    margin-left: 35px; }
  .process__item-num {
    display: block;
    flex-shrink: 0;
    width: 63px;
    height: 63px;
    border: 2px solid #1e2329;
    border-radius: 50%;
    font-size: 25px;
    font-family: 'ms-b';
    text-align: center;
    padding-top: 12px; }
  .process__item-header {
    font-family: 'ms-b';
    font-size: 25px;
    letter-spacing: -0.02em;
    margin-top: -5px;
    margin-bottom: 2px; }
  .process__button {
    width: 270px;
    margin-top: -45px; }
    .process__button:hover {
      color: #fff;
      background-color: #ff6500;
      border-color: #ff6500;
      opacity: 0.7; }
    .process__button:active {
      opacity: 0.5; }
  .process__image {
    position: relative;
    margin-top: 20px; }
  .process__image-inner {
    background-image: url(../img/raster/steps-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 980px;
    max-width: 980px;
    min-height: 890px;
    z-index: 10; }

.process--offices .process__image-inner {
  background-image: url(../img/raster/steps-photo-offices.jpg); }

@media (max-width: 2000px) {
  .process__image-inner {
    width: 100%;
    position: relative; } }

@media (max-width: 767.8px) {
  .process {
    padding-top: 60px;
    padding-bottom: 0; }
    .process__header {
      text-align: center; }
    .process__item {
      flex-direction: column;
      align-content: center;
      padding-bottom: 40px;
      margin-bottom: 40px; }
    .process__item-num {
      margin: 0 auto;
      margin-bottom: 12px; }
    .process__item-text {
      margin-left: 0;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px; }
    .process__image {
      margin-top: 50px; }
    .process__image-inner {
      min-height: 470px;
      background-position: top center;
      width: calc(100% + 15px);
      position: relative; } }

.carousel-loc {
  min-height: 200px;
  margin-top: 300px;
  max-width: 2000px;
  overflow: hidden;
  position: relative;
  min-height: 790px;
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 300px; }
  .carousel-loc__header {
    margin-bottom: 90px; }
  .carousel-loc .slide-1 {
    background-image: url(../img/raster/location-2.jpg); }
  .carousel-loc .slide-2 {
    background-image: url(../img/raster/location-2.jpg); }
  .carousel-loc .slide-3 {
    background-image: url(../img/raster/location-2.jpg); }
  .carousel-loc .swiper-container {
    width: 180%;
    position: absolute;
    left: -40%;
    width: 3600px;
    left: 50%;
    transform: translateX(-50%); }
  .carousel-loc .swiper-slide {
    min-height: 660px;
    max-width: 1190px;
    width: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .carousel-loc .swiper-button-prev,
  .carousel-loc .swiper-button-next {
    position: absolute;
    top: calc(100% - 72px);
    width: 90px;
    height: 90px;
    bottom: 0;
    left: 63.5%;
    background-color: #ff6500;
    transition: 0.2s ease; }
    .carousel-loc .swiper-button-prev::after,
    .carousel-loc .swiper-button-next::after {
      color: white;
      font-size: 20px; }
    .carousel-loc .swiper-button-prev:hover,
    .carousel-loc .swiper-button-next:hover {
      opacity: 0.7; }
    .carousel-loc .swiper-button-prev:active,
    .carousel-loc .swiper-button-next:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .carousel-loc .swiper-button-prev {
    left: calc(63.5% - 92px); }

@media (max-width: 1200px) {
  .carousel-loc .swiper-container {
    width: 2200px;
    left: 50%;
    transform: translateX(-50%); }
  .carousel-loc .swiper-button-prev,
  .carousel-loc .swiper-button-next {
    left: 61.5%; }
  .carousel-loc .swiper-button-prev {
    left: calc(61.5% - 92px); } }

@media (max-width: 767.8px) {
  .carousel-loc {
    padding-top: 90px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0; }
    .carousel-loc .swiper-container {
      width: 250%;
      left: -75%;
      transform: none; }
    .carousel-loc .swiper-slide {
      min-height: 490px;
      max-width: 500px; }
    .carousel-loc .swiper-button-prev,
    .carousel-loc .swiper-button-next {
      visibility: hidden; }
    .carousel-loc__header {
      margin-bottom: 55px; }
  .carousel-loc--home {
    margin-top: 0;
    background-color: #fff; } }

.info {
  padding-top: 205px;
  padding-bottom: 105px; }
  .info__title {
    font-family: 'ms-b';
    color: #ff6500;
    font-size: 22px;
    line-height: 48px; }
  .info__header {
    font-size: 30px;
    line-height: 40px; }
  .info__text {
    font-family: 'mk-r';
    line-height: 25.4px;
    margin-top: 10px;
    letter-spacing: 0em; }
  .info__row {
    margin-bottom: 85px; }

.info--ser-offices {
  padding-top: 120px;
  padding-bottom: 40px; }

.info--services {
  padding-top: 120px;
  padding-bottom: 0px; }

@media (max-width: 767.8px) {
  .info {
    background-color: #fff;
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px; }
    .info__header {
      margin-bottom: 20px; }
  .info--services {
    padding-top: 10px;
    padding-bottom: 10px; }
  .info--ser-offices {
    padding-top: 30px; } }

.ads-banner__row {
  position: relative;
  padding-bottom: 90px; }
  .ads-banner__row::after {
    display: block;
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    width: calc(80% + 15px);
    background-color: #d7dfe9;
    z-index: -1; }

.ads-banner__header {
  margin-top: 130px;
  line-height: 35px;
  margin-bottom: 25px;
  padding-left: 20px; }

.ads-banner__text {
  padding-left: 20px; }

.ads-banner__button {
  margin-top: 30px;
  color: #1e2329;
  border-color: #1e2329;
  padding-right: 22px;
  width: 200px;
  text-align: center;
  display: block;
  margin-left: 20px; }
  .ads-banner__button::after {
    display: none; }

.ads-banner__img {
  margin-top: 82px; }

.ads-banner--home {
  margin-bottom: 235px; }

.ads-banner--services {
  margin-bottom: 200px;
  padding-top: 100px; }

.ads-banner--contact {
  margin-bottom: 200px;
  padding-top: 20px; }

.ads-banner--about {
  margin-bottom: 60px;
  padding-top: 100px; }

@media (max-width: 767.8px) {
  .ads-banner {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 60px; }
    .ads-banner__header {
      font-size: 30px;
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 50px; }
    .ads-banner__text {
      padding-left: 40px;
      padding-right: 40px; }
    .ads-banner__button {
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: -20px; }
    .ads-banner__row {
      padding-bottom: 0;
      position: relative;
      z-index: 2; }
    .ads-banner__row::after {
      width: calc(100% - 30px);
      background-color: #ced7e4;
      z-index: -1; }
  .ads-banner--about {
    padding-top: 30px; }
  .ads-banner--contact {
    padding-top: 40px;
    padding-bottom: 100px; } }

.host {
  color: white;
  background-color: #156e63;
  padding-top: 170px;
  padding-bottom: 160px; }
  .host__header {
    margin-bottom: 25px; }
  .host__text {
    line-height: 30px;
    letter-spacing: -0.01em;
    padding-right: 40px; }
  .host__sign {
    font-family: 'hl';
    font-size: 35px;
    line-height: 55px;
    margin-top: -10px;
    display: block;
    margin-bottom: 40px; }
  .host__button {
    width: 245px; }

@media (max-width: 767.8px) {
  .host {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 75px; }
    .host__image {
      text-align: center; }
    .host__header {
      margin-top: 40px; }
    .host__text {
      padding-right: 0; } }

.news {
  background-color: #1e2329;
  background-image: url(../img/raster/section-background-pattrern.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding-top: 280px;
  padding-bottom: 315px; }
  .news__header {
    color: white;
    font-size: 35px;
    letter-spacing: -0.02em;
    margin-bottom: 115px;
    margin-top: -5px; }
  .news__card {
    background-color: white;
    display: block;
    color: #000;
    transition: 0.2s ease;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); }
    .news__card:hover {
      color: inherit;
      text-decoration: none;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7); }
    .news__card:active {
      transform: scale(0.99); }
    .news__card-img {
      min-height: 325px;
      overflow: hidden;
      position: relative; }
      .news__card-img img {
        position: absolute;
        height: 100%;
        max-width: initial;
        width: auto;
        left: 50%;
        transform: translateX(-50%); }
  .news__card-text {
    padding: 50px;
    padding-top: 60px; }
  .news__card-title {
    font-family: 'ms-b';
    padding-right: 20px; }
  .news__card-date {
    color: #156e63; }
  .news__card-header {
    font-family: 'ms-b';
    font-size: 25px;
    display: block;
    margin-top: 16px; }
  .news__more-button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid #ff6500;
    font-family: 'ms-b';
    padding-bottom: 5px;
    color: #ff6500;
    text-decoration: none;
    transition: 0.2s ease;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    .news__more-button:hover {
      color: inherit;
      text-decoration: none;
      opacity: 0.7;
      color: #ff6500; }
    .news__more-button:active {
      opacity: 0.5;
      transform: scale(0.95) translateX(-50%); }

@media (max-width: 767.8px) {
  .news {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px; }
    .news__header {
      font-size: 30px;
      margin-bottom: 45px; }
    .news__card {
      margin-bottom: 30px; }
    .news__card-text {
      padding: 30px;
      padding-top: 50px; }
    .news__card-date {
      display: block;
      margin-top: 5px; }
    .news__card-header {
      margin-top: 5px;
      line-height: 30px; }
    .news__more-button {
      margin-top: 5px; } }

.testimonials {
  padding-top: 235px;
  padding-bottom: 65px; }
  .testimonials__header {
    margin-bottom: 100px;
    font-size: 35px; }
  .testimonials__wrapper {
    min-height: 550px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    max-width: 2000px;
    margin: 0 auto; }
    .testimonials__wrapper::after {
      display: block;
      content: '';
      position: absolute;
      width: 210px;
      height: 290px;
      right: 32%;
      z-index: 10;
      top: 210px;
      background-image: url(../img/raster/chair.png);
      background-repeat: no-repeat;
      background-position: center; }
  .testimonials__block {
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
    padding: 65px;
    padding-top: 60px;
    letter-spacing: 0em;
    padding-bottom: 55px;
    min-height: 390px;
    position: relative; }
  .testimonials__text {
    font-family: 'ms-m-i';
    font-size: 18px;
    color: #949494;
    line-height: 32px;
    min-height: 180px; }
  .testimonials__name {
    font-family: 'ms-sb-i';
    font-size: 18px;
    display: block;
    position: relative;
    padding-top: 25px; }
    .testimonials__name::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 110px;
      background-color: #156e63; }
  .testimonials__job {
    font-family: 'ms-m-i';
    font-size: 14px;
    display: block;
    margin-top: 5px; }
  .testimonials .swiper-container {
    width: 116%;
    position: absolute;
    left: -8%;
    width: 2320px;
    left: 50%;
    transform: translateX(-50%); }
  .testimonials .swiper-slide {
    min-height: 390px;
    max-width: 580px;
    width: 100%;
    background-color: red; }
  .testimonials .swiper-button-prev,
  .testimonials .swiper-button-next {
    position: absolute;
    top: calc(100% - 72px);
    width: 90px;
    height: 90px;
    top: 50%;
    left: 68%;
    transform: translateY(-30%);
    background-color: transparent;
    transition: 0.2s ease; }
    .testimonials .swiper-button-prev::after,
    .testimonials .swiper-button-next::after {
      color: black;
      font-size: 20px; }
    .testimonials .swiper-button-prev:hover,
    .testimonials .swiper-button-next:hover {
      opacity: 0.7; }
    .testimonials .swiper-button-prev:active,
    .testimonials .swiper-button-next:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .testimonials .swiper-button-prev {
    left: calc(28.5%); }

@media (max-width: 1200px) {
  .testimonials .swiper-container {
    width: 250%;
    position: absolute;
    left: -75%;
    width: 3000px;
    left: 50%;
    transform: translateX(-50%); } }

@media (max-width: 768px) {
  .testimonials {
    padding-top: 75px; }
    .testimonials .swiper-container {
      width: 250%;
      position: absolute;
      left: -75%;
      transform: none; }
    .testimonials .swiper-slide {
      max-width: 600px; }
    .testimonials .swiper-button-prev,
    .testimonials .swiper-button-next {
      visibility: hidden; }
    .testimonials__wrapper {
      min-height: 665px; }
      .testimonials__wrapper::after {
        transform: scale(0.8) translateX(50%);
        right: 45%;
        top: 405px; }
    .testimonials__header {
      margin-bottom: 40px; }
    .testimonials__block {
      padding: 30px;
      padding-top: 40px;
      padding-bottom: 35px; }
    .testimonials__text {
      line-height: 25px;
      min-height: 275px;
      margin-bottom: 20px; } }

.form {
  padding-top: 100px;
  padding-bottom: 245px; }
  .form__header {
    margin-top: 30px;
    margin-bottom: 22px; }
  .form__text {
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: -0.01em;
    padding-right: 10px; }
  .form__block {
    background-color: #1e2329;
    color: white;
    padding: 75px;
    padding-top: 65px;
    padding-bottom: 80px; }
    .form__block-header {
      font-size: 25px;
      margin-bottom: 30px; }
  .form-group {
    margin-bottom: 18px; }
    .form-group label {
      font-family: 'os-r';
      font-size: 16px; }
  .form-control {
    border-radius: 0;
    font-size: 18px;
    color: #1e2329;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin-top: -5px;
    border: none; }
  .form__button-submit {
    width: 100%;
    background-color: #ff6500;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'mk-b';
    padding-top: 11px;
    padding-bottom: 13px;
    margin-top: 20px;
    transition: 0.2s ease; }
    .form__button-submit:hover {
      color: #fff;
      background-color: #ff6500;
      border-color: #ff6500;
      opacity: 0.7; }
    .form__button-submit:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .form__links {
    margin-top: 50px; }
  .form__liks-item {
    position: relative;
    margin-bottom: 30px;
    transition: 0.2s ease; }
    .form__liks-item i {
      color: #ff6500;
      font-size: 25px;
      position: relative;
      top: 2px;
      margin-right: 10px;
      width: 20px;
      height: 100%;
      position: absolute; }
    .form__liks-item a {
      font-size: 18px;
      color: #212529;
      display: inline-block;
      padding-left: 40px; }
      .form__liks-item a:hover {
        text-decoration: none; }
    .form__liks-item:hover {
      opacity: 0.7; }
    .form__liks-item:active {
      opacity: 0.5;
      transform: scale(0.98); }

.form--offices {
  padding-top: 280px;
  padding-bottom: 210px; }

.form--contact {
  padding-top: 180px;
  padding-bottom: 180px; }

.form--about {
  padding-top: 180px;
  padding-bottom: 180px; }

@media (max-width: 2000px) {
  .form--offices {
    padding-top: 200px;
    padding-bottom: 210px; } }

@media (max-width: 767.8px) {
  .form {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px; }
    .form__block {
      padding: 40px; }
      .form__block-header {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px; }
    .form__button-submit {
      margin-bottom: 25px; } }

.footer {
  background-color: #1e2329;
  color: white;
  padding-top: 170px;
  padding-bottom: 117px; }
  .footer__logo img {
    width: 225px;
    height: auto; }
  .footer__title {
    font-family: 'ms-b'; }
  .footer__links {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px; }
    .footer__links a {
      color: white;
      margin-bottom: 6px;
      display: block;
      transition: 0.2s ease; }
      .footer__links a:hover {
        opacity: 0.7;
        text-decoration: none; }
      .footer__links a:active {
        opacity: 0.5;
        transform: scale(0.95); }
    .footer__links--adress {
      line-height: 30px;
      display: block;
      margin-bottom: 16px;
      margin-top: -2px; }
    .footer__links--tel {
      font-family: 'ms-sb';
      letter-spacing: 0.02em;
      font-size: 18px; }
  .footer__copyrigth {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-top: 180px;
    display: block;
    position: relative; }
    .footer__copyrigth::before {
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 2px;
      width: 100%;
      background-color: #151a1e; }

@media (max-width: 1199.8px) {
  .footer {
    padding-bottom: 0; } }

@media (max-width: 767.8px) {
  .footer {
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px; }
    .footer__logo {
      display: block;
      text-align: center;
      margin-bottom: 65px; }
    .footer__title {
      cursor: pointer;
      width: 100%;
      display: block;
      position: relative; }
      .footer__title::before {
        display: block;
        content: '';
        width: calc(100% + 50px);
        height: 2px;
        background-color: #151a1e;
        position: absolute;
        left: -25px;
        top: -25px; }
      .footer__title::after {
        content: '\02795';
        font-size: 15px;
        color: #fff;
        float: right;
        margin-left: 5px;
        margin-top: 2px;
        margin-right: 5px; }
    .footer .active ~ .footer__links {
      margin-bottom: 50px; }
    .footer .active:after {
      content: "\2796"; }
    .footer__links {
      margin-bottom: 25px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out; }
    .footer__copyrigth {
      margin-top: -20px;
      font-size: 14px;
      padding-top: 30px;
      padding-bottom: 25px; }
      .footer__copyrigth::before {
        width: calc(100% + 50px); } }

.contact-footer {
  background-color: #191e23;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: calc(100% + 1px);
  transform: translateX(-50%);
  left: calc(50% - 1px); }
  .contact-footer__wrapper {
    display: flex;
    align-items: center; }
  .contact-footer__header {
    font-size: 20px;
    line-height: 55px;
    font-family: 'ms-b';
    margin-right: 30px; }
  .contact-footer__form {
    flex-shrink: none;
    color: #1e2329; }
    .contact-footer__form-input {
      display: inline-block;
      padding: 20px;
      padding-bottom: 18px;
      border: none;
      border-width: 2px; }
      .contact-footer__form-input:nth-child(1) {
        width: 280px;
        margin-right: 10px; }
      .contact-footer__form-input:nth-child(2) {
        width: 350px; }
    .contact-footer__form-submit {
      padding: 20px;
      color: white;
      font-family: 'ms-b';
      display: inline-block;
      margin-left: -5px;
      padding-bottom: 18px;
      background-color: #ff6500;
      border: none;
      width: 165px; }
      .contact-footer__form-submit:hover {
        color: #fff;
        background-color: #ff6500;
        border-color: #ff6500;
        opacity: 0.7; }
      .contact-footer__form-submit:active {
        opacity: 0.5;
        transform: scale(0.95); }
  .contact-footer__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    margin-left: 30px; }
    .contact-footer__link a {
      text-decoration: none;
      color: #ff6500;
      transition: 0.2s ease; }
      .contact-footer__link a:hover {
        opacity: 0.7; }
      .contact-footer__link a:active {
        opacity: 0.5;
        transform: scale(0.95); }
  .contact-footer__text b {
    font-family: 'ms-b'; }
  .contact-footer__num {
    display: block;
    color: #ff6500;
    font-size: 20px;
    font-family: 'ms-b'; }

@media (max-width: 1199.8px) {
  .contact-footer {
    display: none; } }

.lightbox {
  color: #1e2329;
  padding-top: 165px;
  padding-bottom: 100px; }
  .lightbox__slider {
    min-height: 475px; }
  .lightbox__title {
    color: #ff6500;
    display: block;
    font-family: 'ms-b';
    font-size: 22px;
    margin-bottom: 10px; }
  .lightbox__price {
    font-family: 'mk-r';
    font-size: 35px;
    display: block;
    margin-top: -5px; }
  .lightbox__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px; }
    .lightbox__list li {
      padding-left: 30px;
      font-family: 'ms-sb';
      margin-bottom: 8px;
      position: relative; }
      .lightbox__list li::before {
        display: block;
        content: '';
        width: 2px;
        height: 16px;
        background-color: #1e2329;
        transform: translateY(-50%) rotate(45deg);
        top: 50%;
        left: 12px;
        position: absolute;
        border-radius: 1px; }
      .lightbox__list li::after {
        display: block;
        content: '';
        width: 2px;
        height: 8px;
        background-color: #1e2329;
        transform: translateY(-50%) rotate(-45deg);
        top: calc(50% + 2px);
        left: 4.1px;
        position: absolute;
        border-radius: 1px; }
  .lightbox__button {
    width: 245px;
    margin-top: 25px; }
    .lightbox__button:hover {
      color: #fff;
      background-color: #ff6500;
      border-color: #ff6500;
      opacity: 0.7; }
    .lightbox__button:active {
      opacity: 0.5;
      transform: scale(0.95); }

@media (max-width: 991.8px) {
  .lightbox__text {
    margin-top: 40px; } }

@media (max-width: 767.8px) {
  .lightbox {
    padding-top: 85px;
    padding-bottom: 40px; }
    .lightbox__slider {
      min-height: 350px; } }

@media (max-width: 539.8px) {
  .lightbox__slider {
    min-height: 250px; } }

@media (max-width: 424.8px) {
  .lightbox__slider {
    min-height: 200px; } }

.discount__button {
  background-color: #1e2329;
  display: block;
  text-align: center;
  font-family: 'ms-b';
  font-size: 22px;
  color: #fff;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: -0.02em;
  transition: 0.2s ease;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px; }
  .discount__button:hover {
    background-color: #ff6500;
    color: #fff;
    text-decoration: none; }
  .discount__button:active {
    opacity: 0.7;
    transform: scale(0.98); }

.discount--offices {
  padding-bottom: 40px; }

@media (max-width: 767.8px) {
  .discount__button {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .discount--offices {
    background-color: #fff; } }

.carousel-offices ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.carousel-offices .swiper-container {
  max-width: 100%; }

.carousel-offices .swiper-container img {
  width: 100%;
  height: auto; }

.carousel-offices .swiper-slide {
  width: 100%; }
  .carousel-offices .swiper-slide a {
    position: relative;
    display: block; }
    .carousel-offices .swiper-slide a::after {
      display: block;
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      background-image: url(../img/raster/expand-icon.png);
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.2s ease; }

.carousel-offices .swiper-button-prev,
.carousel-offices .swiper-button-next {
  position: absolute;
  top: calc(100% - 49px);
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: #ff6500;
  transition: 0.2s ease; }
  .carousel-offices .swiper-button-prev::after,
  .carousel-offices .swiper-button-next::after {
    color: white;
    font-size: 20px; }
  .carousel-offices .swiper-button-prev:hover,
  .carousel-offices .swiper-button-next:hover {
    opacity: 0.7; }
  .carousel-offices .swiper-button-prev:active,
  .carousel-offices .swiper-button-next:active {
    opacity: 0.5;
    transform: scale(0.95); }

.carousel-offices .swiper-button-prev {
  left: inherit;
  right: 71px; }

@media (max-width: 767.8px) {
  .carousel-offices .swiper-button-prev,
  .carousel-offices .swiper-button-next {
    width: 50px;
    height: 50px;
    top: calc(100% - 29px); }
    .carousel-offices .swiper-button-prev::after,
    .carousel-offices .swiper-button-next::after {
      font-size: 16px; }
  .carousel-offices .swiper-button-prev {
    right: 51px; }
  .carousel-offices .swiper-slide a::after {
    transform: scale(0.8);
    bottom: 10px;
    left: 10px; } }

.rooms {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #fff;
  background-color: #e1e9f1; }
  .rooms__header {
    text-align: center;
    display: block;
    margin-bottom: 80px; }
  .rooms__item {
    background-color: #fff;
    margin-bottom: 50px;
    border: 1px solid rgba(33, 37, 41, 0.6);
    border-color: transparent;
    margin-bottom: 60px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2); }
    .rooms__item:hover {
      box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4); }
  .rooms__image {
    min-height: 280px;
    background-image: url(../img/raster/header-background-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: calc(100% + 2px);
    left: -1px;
    top: -1px; }
  .rooms__block {
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 35px; }
  .rooms__title {
    font-family: 'ms-b';
    display: block;
    font-size: 21px;
    margin-bottom: 20px; }
  .rooms__text {
    margin-bottom: 20px;
    line-height: 1.5;
    line-height: 28px; }
  .rooms__button {
    color: #1e2329;
    border-color: #1e2329;
    text-align: center;
    padding-right: 22px;
    width: 225px;
    background-color: #ff6500;
    color: #fff;
    border-color: #ff6500; }
    .rooms__button::after {
      display: none; }
    .rooms__button:hover {
      background-color: #ff6500;
      color: #fff;
      border-color: #ff6500;
      opacity: 0.7; }
    .rooms__button:active {
      opacity: 0.5; }
  .rooms__price {
    display: inline-block;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: #ff6500;
    font-size: 18px;
    background-color: #fff;
    color: #212529;
    background-color: transparent;
    color: #fff;
    border: 2px solid white; }
  .rooms__user {
    display: inline-block;
    color: #fff;
    background-color: #ff6500;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: 2px solid white; }
    .rooms__user i {
      margin-right: 15px;
      margin-left: 5px; }

@media (max-width: 767.8px) {
  .rooms {
    padding-top: 70px;
    padding-bottom: 10px; } }

.services {
  padding-top: 50px;
  padding-bottom: 120px; }
  .services__item {
    min-height: 230px;
    padding: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    border: 2px solid #cfdae5;
    height: calc(100% - 30px);
    margin-bottom: 30px; }
  .services__item--book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191e23;
    border-color: #191e23;
    color: #fff; }
  .services__item-wrapper {
    display: flex; }
  .services__item-img {
    flex-shrink: 0;
    text-align: center;
    margin-right: 50px;
    width: 40%;
    max-width: 190px; }
    .services__item-img svg {
      width: 90px;
      height: 90px; }
  .services__item-header {
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'ms-b';
    font-size: 21px;
    margin-top: 20px; }
  .services__book-title {
    font-family: 'ms-b';
    font-size: 21px;
    text-align: center; }
  .services__book-button {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 245px; }

@media (max-width: 767.8px) {
  .services {
    padding-bottom: 70px;
    padding-top: 120px; }
    .services__item {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px; } }

@media (max-width: 424.8px) {
  .services {
    padding-top: 50px; }
    .services__item-wrapper {
      flex-direction: column; }
    .services__item {
      text-align: center; }
    .services__item-img {
      width: 100%;
      max-width: initial;
      margin-bottom: 20px; } }

.news-section {
  padding-top: 200px;
  padding-bottom: 80px; }
  .news-section__title {
    display: block;
    font-size: 30px;
    font-family: 'ms-b';
    margin-top: 30px;
    margin-bottom: 10px; }
  .news-section__text {
    margin-top: 25px;
    margin-bottom: 35px;
    line-height: 28px;
    letter-spacing: -.01em; }
  .news-section__button {
    color: #1e2329;
    border-color: #1e2329;
    text-align: center;
    padding-right: 22px;
    width: 225px;
    background-color: #ff6500;
    color: #fff;
    border-color: #ff6500; }
    .news-section__button::after {
      display: none; }
    .news-section__button:hover {
      background-color: #ff6500;
      border-color: #ff6500;
      color: #fff;
      opacity: 0.7; }
    .news-section__button:active {
      opacity: 0.5; }
  .news-section__image {
    min-height: 340px;
    position: relative;
    overflow: hidden; }
    .news-section__image img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .news-section__pagination {
    font-family: 'ms-b'; }
    .news-section__pagination .page-link {
      color: #1e2329;
      background-color: transparent;
      border-color: transparent;
      font-size: 25px;
      transition: 0.2s ease; }
      .news-section__pagination .page-link:hover {
        border-color: #ff6500;
        border-width: 1px;
        color: rgba(30, 35, 41, 0.7);
        background-color: rgba(255, 101, 0, 0.2); }
      .news-section__pagination .page-link:active {
        opacity: 0.8;
        transform: scale(0.95); }
      .news-section__pagination .page-link:focus {
        box-shadow: none; }
    .news-section__pagination .disabled {
      opacity: 1; }
    .news-section__pagination .active .page-link {
      background-color: #ff6500;
      border-color: #ff6500; }
    .news-section__pagination .disabled .page-link {
      background-color: transparent;
      border-color: rgba(30, 35, 41, 0.5); }
  .news-section .row {
    margin-bottom: 120px; }

@media (max-width: 991.8px) {
  .new-section--right {
    flex-direction: column-reverse; } }

@media (max-width: 767.8px) {
  .news-section {
    padding-top: 80px; }
    .news-section__pagination .page-link {
      font-size: 18px;
      padding: 0.5em 1em; }
    .news-section .row {
      margin-bottom: 80px; } }

@media (max-width: 539.8px) {
  .news-section__image {
    min-height: 230px; } }

@media (max-width: 374.8px) {
  .news-section__image {
    min-height: 190px; } }

.article {
  padding-top: 160px;
  padding-bottom: 140px; }
  .article__header {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .article__sub-header {
    margin-top: 20px;
    margin-bottom: 15px; }
  .article__text {
    line-height: 28px;
    margin-top: 1rem; }
  .article__list {
    margin-top: 1rem; }
    .article__list li {
      margin-bottom: 0.5rem; }
  .article__banner {
    background-color: #191e23;
    color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .article__banner-title {
      font-family: 'ms-b';
      font-size: 21px;
      text-align: center; }
    .article__banner-button {
      margin: 0 auto;
      display: block;
      margin-top: 60px; }

@media (max-width: 767.8px) {
  .article {
    padding-top: 80px;
    padding-bottom: 80px; } }
